@model wholewellness.ViewModels.AddExerciseTypeVM

@{
    ViewBag.Title = "Add An Exercise";
}


<div class="ml-5 mt-5 pl-5 mr-5 pt-4 border-wrapper">

    <h2>Add a food item:</h2>


    @using (Html.BeginForm("PostNewExerciseType", "Workout", FormMethod.Post))
    {
        <div class="container">
            <div class="row mt-5">
                <div class="col-2">
                    <h6>Name:</h6>
                </div>
                <div class="col">
                    @Html.EditorFor(m => m.strName, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <div class="row mt-5">
                <div class="col-2">
                    <h6>Muscle Group:</h6>
                </div>
                <div class="col">
                    @Html.EnumDropDownListFor(m => m.lstMuscleGroups, "Select Muscle Groups", new { @multiple = "multiple", @class = "form-control col-2 meal-type-dropdown" })
                </div>
            </div>

            <div class="row mt-5">
                <div class="col-2">
                    <h6>Equipment Needed:</h6>
                </div>
                <div class="col">
                    @Html.EnumDropDownListFor(m => m.lstEquipment, "Select Equipment", new { @multiple = "multiple", @class = "form-control col-2 meal-type-dropdown" })
                </div>
            </div>

            <div class="row mt-5">
                <div class="col-2">
                    <h6>Calories Burned:</h6>
                </div>
                <div class="col">
                    @Html.EditorFor(m => m.intCaloriesBurned, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <div class="row mt-5">
                <div class="col-2">
                    <h6>Is it accessible?</h6>
                </div>
                <div class="col">
                    @Html.EditorFor(m => m.ysnAccessibility, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <div class="row mt-5">
                <div class="col-2">
                    <h6>Time in Minutes:</h6>
                </div>
                <div class="col">
                    @Html.EditorFor(m => m.intTime, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <div class="row mt-5">
                <div class="col-2">
                    <h6>Intensity:</h6>
                </div>
                <div class="col">
                    @Html.EnumDropDownListFor(m => m.intensity, "Select Intensity", new { @class = "form-control col-2 meal-type-dropdown" })
                </div>
            </div>
        </div>

        <input type="submit" value="Exercise to Database" class="form-control col-4 m-5 justify-items-center btn-primary" />
    }

</div>
