@model wholewellness.ViewModels.FoodVM

@{
    ViewBag.Title = "Food Tracking";
}

<div class="jumbotron">
    <h1 class="display-4">Meals</h1>
    <p class="lead">Use this section to keep track of your meals. Begin by adding a meal below.</p>
    <hr class="my-4">
    <p><i>"The first wealth is health." — Ralph Waldo Emerson</i></p>
    <br />
    <div class="text-center">
        @Html.ActionLink("Add A Meal", "AddMeal", "Food", null, new { @class = "btn btn-outline-info btn-lg" })
        <a class="btn btn-outline-info btn-lg" href="#" role="button">Favorites</a>
        @Html.ActionLink("Healthier Options", "HealthierOptions", "Food", null, new { @class = "btn btn-outline-info btn-lg" })
    </div>
</div>


@if (Model.LstMealsForDay.Any())
{
    <h4 class="display-4 ml-2">food diary for @Model.user.strUsername on @System.DateTime.Today.ToString("MM/dd"):</h4>

    <br />
    <br />

    <div class="container-fluid">
        <div class="row">
            @foreach (var item in Model.LstMealsForDay)
            {
                <div class="col-auto mb-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">@Html.DisplayFor(modelItem => item.mealType)</h5>
                            <br />
                            <h6 class="card-subtitle mb-2 text-muted text-center">this meal consisted of:</h6>
                            <ul class="">
                                @foreach (var food in item.lstContents)
                                {
                                    <li>@food.strFullNameAndCals</li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}
else
{
    <h4 class="display-5 ml-2">Add a meal for today to see them listed here.</h4>
}