@model wholewellness.ViewModels.WorkoutHomeVM

@{
    ViewBag.Title = "Exercise";
}

<div class="jumbotron">
    <h1 class="display-4">Workouts</h1>
    <p class="lead">Use this section to keep track of your workouts. Begin by adding a workout below.</p>
    <hr class="my-4">
    <p><i>“You must expect great things of yourself before you can do them.” — Michael Jordan</i></p>
    <br />
    <div class="text-center">
        @Html.ActionLink("Add Your Workout", "AddWorkout", "Workout", null, new { @class = "btn btn-outline-info btn-lg" })
        <a class="btn btn-outline-info btn-lg" href="#" role="button">Favorites</a>
        @Html.ActionLink("Add Exercise Type", "AddExerciseType", "Workout", null, new { @class = "btn btn-outline-info btn-lg" })
    </div>
</div>


@if (Model.LstWorkoutRoutines.Any())
{

    <h4 class="display-4 ml-2">workouts for @Model.user.strUsername on @System.DateTime.Today.ToString("MM/dd"):</h4>

    <br />
    <br />

    <div class="container-fluid">
        <div class="row">
            @foreach (var item in Model.LstWorkoutRoutines)
            {
                <div class="col-auto mb-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">@Html.DisplayFor(modelItem => item.intTotalMinutes)</h5>
                            <br />
                            <h6 class="card-subtitle mb-2 text-muted text-center">this workout consisted of:</h6>
                            <ul class="">
                                @foreach (var exerciseType in item.lstRoutine)
                                {
                                    <li>@exerciseType.strName</li>

                                }
                            </ul>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

}
else
{
    <h4 class="display-5 ml-2">Add a workout for today to see it listed here.</h4>
}