<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="~/Content/main.css" rel="stylesheet" />
    <link href="~/Content/simple-sidebar.css" rel="stylesheet">
    <link href="~/Content/bootstrap-multiselect.css" rel="stylesheet" />

    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
</head>

<body>
    <div class="d-flex" id="wrapper">

        <!-- Sidebar -->
        <div class="bg-light border-right" id="sidebar-wrapper">
            <br />
            <button class="logo-button" onclick="window.location.href='@Url.Action("Index", "Home")'">
                <div class="sidebar-heading text-right">whole</div>
                <div class="sidebar-heading text-right">wellness</div>
                <div class="sidebar-subtitle text-right">for</div>
                <div class="sidebar-heading text-right">women</div>
            </button>
            <div class="sidebar-heading-2">Meals</div>
            <div class="list-group list-group-flush">
                @Html.ActionLink("Add A Meal", "AddMeal", "Food", null, new { @class = "list-group-item list-group-item-action bg-light" })
                @Html.ActionLink("Healthier Food Options", "HealthierOptions", "Food", null, new { @class = "list-group-item list-group-item-action bg-light" })
                @Html.ActionLink("View Meals", "FoodHome", "Food", null, new { @class = "list-group-item list-group-item-action bg-light" })
            </div>
            <br />
            <div class="sidebar-heading-2">Exercise</div>
            <div class="list-group list-group-flush">
                <a href="#" class="list-group-item list-group-item-action bg-light">Add an Exericse</a>
                <a href="#" class="list-group-item list-group-item-action bg-light">Search</a>
                <a href="#" class="list-group-item list-group-item-action bg-light">View</a>
            </div>
            <br />
            <br />
            @if (Model.user != null)
            {
                <div class="sidebar-subtitle text-left">You are currently logged in as @Model.user.strUsername.</div>
            }
            else
            {
                <div class="sidebar-subtitle text-left">You are not currently logged in.</div>
            }


        </div>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">

            <div class="container-fluid pt-5 pb-5">
                @RenderBody()
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script type="text/javascript" src="~/Content/bootstrap-multiselect.js"></script>
    <script src="~/Content/scripts.js"></script>
    @RenderSection("scripts", false)
</body>
</html>
