@model wholewellness.ViewModels.NewUserVM

@{
    ViewBag.Title = "Log In or Sign Up";
}



@using (Html.BeginForm("Login", "Home"))
{
    <div class="container text-center">
        <div class="row">
            <div class="col-5">
                <span>Already have an account? Enter your username here.</span>
            </div>
            <div class="col">
                @Html.EditorFor(m => m.strUsername, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="col-1">
                <input type="submit" value="Login" class="btn btn-dark" />
            </div>
            <div class="col-1"></div>
        </div>

        <div class="row">
        </div>
    </div>
}


<br />
<hr />
<br />

@using (Html.BeginForm("AddUser", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="container">
        <div class="row">
            <div class="col">
                <h2>New User? Welcome to Whole Wellness for Women.</h2>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <h4 class="display-5">Please fill out the info below.</h4>
            </div>
        </div>

        <div class="row onboarding-form-row">
            <div class="col-6">
                Please enter your Case ID.
            </div>
            <div class="col-6">
                @Html.EditorFor(m => m.strUsername, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="row onboarding-form-row">
            <div class="col-6">
                Please enter your weight in pounds.
            </div>
            <div class="col-6">
                @Html.EditorFor(m => m.intWeight, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="row onboarding-form-row">
            <div class="col-6">
                Please enter your height in inches.
            </div>
            <div class="col-6">
                @Html.EditorFor(m => m.intHeightInInches, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="row onboarding-form-row">
            <div class="col-6">
                Please enter your daily average exercise level.
            </div>
            <div class="col-6">
                @Html.EnumDropDownListFor(m => m.exerciseLevel, "Please select your average daily exercise level.", new { @class = "form-control exercise-level-dropdown" })
            </div>
        </div>

        <div class="row">
            <div class="col text-center">
                <input type="submit" value="Create User" class="btn btn-dark" />
            </div>
        </div>
    </div>
}
